[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
"psycopg2" = "*"
requests = "*"
djangorestframework = "*"
django-cors-headers = "*"


[dev-packages]

pylint = "*"
pylint-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
